In [4]:
import pandas as pd
import os

# Using edsight numbers

In [20]:
def get_df(year):
    
    fname = "data/statewide-enrollment-%d.csv" % year
    
    ret = pd.read_csv(fname,skiprows=5).set_index("Grade").loc["Total"]["Total"]
    
    return ret

get_df(2009)

571046

In [21]:
def get_enrollment_dfs():
    ret = {}
    for y in range(2009, 2013):
        ret[y] = get_df(y)
    return ret

get_enrollment_dfs()

{2009: 571046, 2010: 567792, 2011: 564499, 2012: 558377}

# Psych, we're going to use fiscal indicators

In [28]:
fisc_df = pd.read_csv("output/1_fiscal.csv")
fisc_df = fisc_df[fisc_df["City"] != "GROTON (City of)"]
len(fisc_df["City"].unique())

169

In [32]:
fisc_df.groupby("report_year").agg({"Enrollment":'sum'}).round()

             Enrollment
report_year
2007           562684.0
2008           558048.0
2009           552783.0
2010           548313.0
2011           544179.0
2012           538197.0
2013           533198.0
2014           528428.0
2015           523185.0
2016           517912.0