# Step 2: Combine staffing levels

This file combines all staffing level files in the EDSIGHT_STAFFING folder, and generates two files, described below:

### output/2_staffing.csv

This file contains aggregate annual staffing totals by district and year. It includes only public school districts, and it contains a column denoting whether that year contained any null values -- meaning categories of employees where no numeric value was provided. This appears to represent legitimate zero values for many rows, but it also appears to indicate missing data in some cases. The reason we need this "asterisk" is that in cases where data is missing, it would falsely be identified later on as a cut or increase.


### output/byproduct_2_all_staffing.csv

This file is not aggregated, and is not limited to public school districts. It is NOT used in the workflow, and therefore not prefixed with a number. It is only saved as output because it seems like a pretty useful thing to have.

### ./data files

Here's what's in the data folder

In [16]:
ls "data/EDSIGHT_STAFFING/"

FTEStaffing (1).csv   FTEStaffing (15).csv  FTEStaffing (6).csv
FTEStaffing (10).csv  FTEStaffing (16).csv  FTEStaffing (7).csv
FTEStaffing (11).csv  FTEStaffing (2).csv   FTEStaffing (8).csv
FTEStaffing (12).csv  FTEStaffing (3).csv   FTEStaffing (9).csv
FTEStaffing (13).csv  FTEStaffing (4).csv   FTEStaffing.csv
FTEStaffing (14).csv  FTEStaffing (5).csv

In [17]:
import pandas as pd

In [18]:
class EdsightReport(object):
    
    def fix_equals(self, col):
        self.df[col] = self.df[col].str.strip("=").str.strip("\"")
    
    def __init__(self, fname):
        self.fname = fname
        self.report_name = open(self.fname).readline().strip().strip("\"")
        self.df = pd.read_csv(self.fname,skiprows=2)

In [19]:
class SchoolOrganizations(EdsightReport):
    
    def __init__(self, *args, **kwargs):
        super(SchoolOrganizations, self).__init__("data/findSchoolDistrict.csv", *args, **kwargs)
        self.fix_equals("OrganizationCode")
        self.fix_equals("ZIP")
        for grade_column in ["Grade " + str(x) for x in range(1, 13)]:
            self.fix_equals(grade_column)
            
class Districts(SchoolOrganizations):
    
    def find_by_city(self, city):
        return self.df[self.df["City"].str.upper().str.strip().str.contains(city.upper().strip())][["OrganizationName","OrganizationType"]]
    
    def find_by_name(self, name):
        return self.df[self.df["OrganizationName"].str.upper() == name.upper()]
    
    def __init__(self, *args, **kwargs):
        super(Districts, self).__init__()
        self.df = self.df[self.df["OrganizationType"].str.contains("District")]
        
    
districts = Districts()
print districts.report_name
districts.df["OrganizationType"].value_counts()
print districts.find_by_city("Bridgeport")

Find School/District Results
                                     OrganizationName  \
719                        Bridgeport School District
807   Capital Preparatory Harbor School Inc. District
1135               Great Oaks Charter School District
1493       New Beginnings Inc Family Academy District
1730           Park City Prep Charter School District
2057                      The Bridge Academy District

                     OrganizationType
719           Public School Districts
807   Public Charter School Districts
1135  Public Charter School Districts
1493  Public Charter School Districts
1730  Public Charter School Districts
2057  Public Charter School Districts

In [20]:
class StaffingReport(EdsightReport):
    
    def __init__(self, *args, **kwargs):
        super(StaffingReport, self).__init__(*args, **kwargs)
        self.year = self.report_name.replace("FTE Staffing Report for ", "")
        self.fiscal_year = self.year[:2] + self.year[-2:]
        self.df["District"] = self.df["District"].fillna(method="ffill")
        self.fix_equals("District")
        self.fix_equals("Assignment Category")
        self.fix_equals("Educator Type")
        self.df = self.df.set_index(["District","Assignment Category","Educator Type"])
        self.df["report_year"] = self.fiscal_year
        self.df = self.df.reset_index().set_index("District").join(districts.df.set_index("OrganizationName")[["City","OrganizationCode","OrganizationType"]])

er = StaffingReport("data/EDSIGHT_STAFFING/FTEStaffing (1).csv")
print er.report_name
print er.year
print er.fiscal_year
er.df.head()

FTE Staffing Report for 2002-03
2002-03
2003

,Assignment Category,Educator Type,FTE Count,report_year,City,OrganizationCode,OrganizationType
Amistad Academy District,Administrators Coordinators and Department Ch...,Certified,1.8,2003,New Haven,2790013,Public Charter School Districts
Amistad Academy District,Counselors Social Workers and School Psychol...,Certified,1.0,2003,New Haven,2790013,Public Charter School Districts
Amistad Academy District,General Education - Teachers and Instructors,Certified,14.9,2003,New Haven,2790013,Public Charter School Districts
Amistad Academy District,General Education - Paraprofessional Instructi...,Non-Certified,3.0,2003,New Haven,2790013,Public Charter School Districts
Amistad Academy District,Library/Media - Support Staff,Non-Certified,0.0,2003,New Haven,2790013,Public Charter School Districts

In [21]:
print "These are districts that can't be reconciled to a city"
set(er.df[er.df["City"].isnull()].index.tolist())

These are districts that can't be reconciled to a city

{'Highville Mustard Seed Charter School District',
 'Office of Early Childhood (OEC)',
 'Project Oceanology',
 'Unified School District #1',
 'Unified School District #2'}

In [22]:
# Now pull in all the school stuff
import os

def all_staffing_years():
    frames = []
    years = []

    for f in os.listdir("data/EDSIGHT_STAFFING/"):
        fpath = os.path.join("data/EDSIGHT_STAFFING/",f)
        report = StaffingReport(fpath)
        #print (report.fiscal_year)
        if int(report.fiscal_year) in years:
            raise Exception("Duplicate year: " + str(report.fiscal_year))
        years.append(int(report.fiscal_year))
        new_df = report.df.reset_index()
        new_df["report_year"] = new_df["report_year"].astype(int)
        new_df = new_df.set_index(["report_year","index","Assignment Category","Educator Type"])
        frames.append(new_df)
    years.sort()
    print years
    ret =  pd.concat(frames)
    def fix_city(x):
        try:
            return x.strip().upper()
        except:
            return x
    ret["City"] = ret["City"].apply(fix_city)
    return ret

staffing_df = all_staffing_years()
staffing_df.head()

[2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

                                                                                                       FTE Count  \
report_year index                    Assignment Category                                Educator Type
2003        Amistad Academy District Administrators  Coordinators and Department Cha... Certified            1.8
                                     Counselors  Social Workers  and School Psycholo... Certified            1.0
                                     General Education - Teachers and Instructors       Certified           14.9
                                     General Education - Paraprofessional Instructio... Non-Certified        3.0
                                     Library/Media - Support Staff                      Non-Certified        0.0

                                                                                                            City  \
report_year index                    Assignment Category                                Educator Type
2003        Amistad Academy District Administrators  Coordinators and Department Cha... Certified      NEW HAVEN
                                     Counselors  Social Workers  and School Psycholo... Certified      NEW HAVEN
                                     General Education - Teachers and Instructors       Certified      NEW HAVEN
                                     General Education - Paraprofessional Instructio... Non-Certified  NEW HAVEN
                                     Library/Media - Support Staff                      Non-Certified  NEW HAVEN

                                                                                                      OrganizationCode  \
report_year index                    Assignment Category                                Educator Type
2003        Amistad Academy District Administrators  Coordinators and Department Cha... Certified              2790013
                                     Counselors  Social Workers  and School Psycholo... Certified              2790013
                                     General Education - Teachers and Instructors       Certified              2790013
                                     General Education - Paraprofessional Instructio... Non-Certified          2790013
                                     Library/Media - Support Staff                      Non-Certified          2790013

                                                                                                                      OrganizationType
report_year index                    Assignment Category                                Educator Type
2003        Amistad Academy District Administrators  Coordinators and Department Cha... Certified      Public Charter School Districts
                                     Counselors  Social Workers  and School Psycholo... Certified      Public Charter School Districts
                                     General Education - Teachers and Instructors       Certified      Public Charter School Districts
                                     General Education - Paraprofessional Instructio... Non-Certified  Public Charter School Districts
                                     Library/Media - Support Staff                      Non-Certified  Public Charter School Districts

In [23]:
staffing_df.to_csv("output/byproduct_2_all_staffing.csv")

## What types of educators are there?

In [24]:
staffing_df.reset_index()["Assignment Category"].value_counts()

Other Staff Providing Non-Instructional Services/Support                        3276
Special Education - Paraprofessional Instructional Assistants                   3260
General Education - Paraprofessional Instructional Assistants                   3260
School Nurses                                                                   3260
Library/Media - Support Staff                                                   3260
General Education - Teachers and Instructors                                    3147
Administrators  Coordinators and Department Chairs - School Level               3087
Special Education - Teachers and Instructors                                    3064
Counselors  Social Workers  and School Psychologists                            2948
Administrators  Coordinators and Department Chairs - District Central Office    2829
Instructional Specialists Who Support Teachers                                  2794
Library/Media - Specialists (Certified)                                         2589
Name: Assignment Category, dtype: int64

# Drop non-public districsts

In [25]:

# Filter non-public schools
staffing_df = staffing_df[staffing_df["OrganizationType"]=="Public School Districts"]
print("Should only have one type of organization...")
print (staffing_df["OrganizationType"].value_counts())

Should only have one type of organization...
Public School Districts    28828
Name: OrganizationType, dtype: int64

# Add a has_nulls column so we know which years of data contain some null values

In [26]:
# See how many categories are empty
check_empties = pd.pivot_table(staffing_df.reset_index(),
                   index=["City","report_year"],
                   values="FTE Count",
                   columns="Assignment Category")
check_empties.head()

Assignment Category  Administrators  Coordinators and Department Chairs - District Central Office  \
City    report_year
ANDOVER 2002                                                       NaN
        2003                                                       0.6
        2004                                                       0.6
        2005                                                       0.3
        2006                                                       0.3

Assignment Category  Administrators  Coordinators and Department Chairs - School Level  \
City    report_year
ANDOVER 2002                                                       NaN
        2003                                                       1.4
        2004                                                       1.4
        2005                                                       2.0
        2006                                                       2.0

Assignment Category  Counselors  Social Workers  and School Psychologists  \
City    report_year
ANDOVER 2002                                                       NaN
        2003                                                       NaN
        2004                                                       NaN
        2005                                                       NaN
        2006                                                       NaN

Assignment Category  General Education - Paraprofessional Instructional Assistants  \
City    report_year
ANDOVER 2002                                                       4.1
        2003                                                       6.3
        2004                                                       7.5
        2005                                                       3.2
        2006                                                       2.7

Assignment Category  General Education - Teachers and Instructors  \
City    report_year
ANDOVER 2002                                                  NaN
        2003                                                 23.6
        2004                                                 23.8
        2005                                                 25.8
        2006                                                 24.8

Assignment Category  Instructional Specialists Who Support Teachers  \
City    report_year
ANDOVER 2002                                                    NaN
        2003                                                    2.0
        2004                                                    2.0
        2005                                                    1.0
        2006                                                    2.0

Assignment Category  Library/Media - Specialists (Certified)  \
City    report_year
ANDOVER 2002                                             NaN
        2003                                             1.0
        2004                                             1.0
        2005                                             1.0
        2006                                             1.0

Assignment Category  Library/Media - Support Staff  \
City    report_year
ANDOVER 2002                                   0.0
        2003                                   0.1
        2004                                   0.1
        2005                                   0.0
        2006                                   0.0

Assignment Category  Other Staff Providing Non-Instructional Services/Support  \
City    report_year
ANDOVER 2002                                                      18.0
        2003                                                      15.8
        2004                                                      15.8
        2005                                                      18.3
        2006                                                      18.3

Assignment Category  School Nurses  \
City    report_year
ANDOVER 2002                   1.0
        2003                   1.0
        2004                   1.0
        2005                   1.0
        2006                   1.0

Assignment Category  Special Education - Paraprofessional Instructional Assistants  \
City    report_year
ANDOVER 2002                                                       7.2
        2003                                                       7.4
        2004                                                       6.0
        2005                                                       5.5
        2006                                                       5.0

Assignment Category  Special Education - Teachers and Instructors
City    report_year
ANDOVER 2002                                                  NaN
        2003                                                  3.0
        2004                                                  3.0
        2005                                                  2.5
        2006                                                  2.5

In [27]:
check_empties[check_empties["General Education - Teachers and Instructors"].isnull()]

,Assignment Category,Administrators Coordinators and Department Chairs - District Central Office,Administrators Coordinators and Department Chairs - School Level,Counselors Social Workers and School Psychologists,General Education - Paraprofessional Instructional Assistants,General Education - Teachers and Instructors,Instructional Specialists Who Support Teachers,Library/Media - Specialists (Certified),Library/Media - Support Staff,Other Staff Providing Non-Instructional Services/Support,School Nurses,Special Education - Paraprofessional Instructional Assistants,Special Education - Teachers and Instructors
City,report_year,,,,,,,,,,,,
ANDOVER,2002,NaN,NaN,NaN,4.1,NaN,NaN,NaN,0.0,18.0,1.0,7.2,NaN
ANSONIA,2002,NaN,NaN,NaN,23.1,NaN,NaN,NaN,5.0,61.7,4.0,18.3,NaN
ASHFORD,2002,NaN,NaN,NaN,3.0,NaN,NaN,NaN,1.0,11.0,1.2,7.5,NaN
AVON,2002,NaN,NaN,NaN,8.5,NaN,NaN,NaN,6.0,99.0,4.3,23.0,NaN
BALTIC,2002,NaN,NaN,NaN,4.0,NaN,NaN,NaN,1.0,7.8,1.3,8.0,NaN
BARKHAMSTED,2002,NaN,NaN,NaN,7.9,NaN,NaN,NaN,0.0,7.7,1.0,0.0,NaN
BERLIN,2002,NaN,NaN,NaN,14.9,NaN,NaN,NaN,5.0,54.1,6.0,39.0,NaN
BETHANY,2002,NaN,NaN,NaN,6.5,NaN,NaN,NaN,1.0,9.0,1.0,4.0,NaN
BETHEL,2002,NaN,NaN,NaN,14.0,NaN,NaN,NaN,6.0,52.0,7.0,41.0,NaN
BLOOMFIELD,2002,NaN,NaN,NaN,23.0,NaN,NaN,NaN,2.0,51.0,2.0,10.0,NaN
BOLTON,2002,NaN,NaN,NaN,8.0,NaN,NaN,NaN,2.0,21.0,2.0,15.0,NaN
BOZRAH,2002,NaN,NaN,NaN,5.2,NaN,NaN,NaN,0.0,8.8,1.0,4.0,NaN
BRANFORD,2002,NaN,NaN,NaN,27.6,NaN,NaN,NaN,4.1,157.4,7.0,58.5,NaN
BRIDGEPORT,2002,NaN,NaN,NaN,165.0,NaN,NaN,NaN,18.2,752.1,29.2,107.0,NaN
BRISTOL,2002,NaN,NaN,NaN,8.0,NaN,NaN,NaN,15.0,331.0,13.8,104.5,NaN
BROOKFIELD,2002,NaN,NaN,NaN,13.0,NaN,NaN,NaN,4.0,52.5,5.5,34.0,NaN
BROOKLYN,2002,NaN,NaN,NaN,11.7,NaN,NaN,NaN,1.0,13.0,2.0,8.5,NaN
CANAAN,2002,NaN,NaN,NaN,17.9,NaN,NaN,NaN,2.0,15.0,2.0,5.6,NaN
CANTERBURY,2002,NaN,NaN,NaN,3.8,NaN,NaN,NaN,2.0,10.5,2.0,7.7,NaN
CHAPLIN,2002,NaN,NaN,NaN,8.0,NaN,NaN,NaN,2.0,6.6,1.0,6.5,NaN
CHESHIRE,2002,NaN,NaN,NaN,33.0,NaN,NaN,NaN,14.5,124.2,7.9,64.0,NaN
CLINTON,2002,NaN,NaN,NaN,7.9,NaN,NaN,NaN,2.7,47.2,4.7,34.2,NaN
COLCHESTER,2002,NaN,NaN,NaN,17.0,NaN,NaN,NaN,3.0,38.7,3.5,24.0,NaN
COLEBROOK,2002,NaN,NaN,NaN,2.7,NaN,NaN,NaN,0.6,2.9,1.0,2.7,NaN
COLLINSVILLE,2002,NaN,NaN,NaN,22.2,NaN,NaN,NaN,2.9,30.6,3.5,32.7,NaN
COLUMBIA,2002,NaN,NaN,NaN,6.0,NaN,NaN,NaN,1.0,13.8,2.0,10.5,NaN
CORNWALL,2002,NaN,NaN,NaN,5.3,NaN,NaN,NaN,0.0,6.5,1.6,8.5,NaN
COVENTRY,2002,NaN,NaN,NaN,18.0,NaN,NaN,NaN,2.0,37.3,3.0,22.5,NaN
CROMWELL,2002,NaN,NaN,NaN,18.5,NaN,NaN,NaN,3.1,40.0,3.0,18.0,NaN
DANBURY,2002,NaN,NaN,NaN,74.8,NaN,NaN,NaN,10.2,148.2,17.8,50.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
STORRS,2002,NaN,NaN,NaN,28.4,NaN,NaN,NaN,6.0,27.5,4.0,34.5,NaN
STRATFORD,2002,NaN,NaN,NaN,11.0,NaN,NaN,NaN,5.0,139.5,14.0,46.0,NaN
SUFFIELD,2002,NaN,NaN,NaN,16.2,NaN,NaN,NaN,2.8,41.9,3.2,23.7,NaN
TERRYVILLE,2002,NaN,NaN,NaN,2.7,NaN,NaN,NaN,5.0,34.6,4.0,19.5,NaN
THOMASTON,2002,NaN,NaN,NaN,6.3,NaN,NaN,NaN,1.5,27.8,3.0,10.1,NaN
TOLLAND,2002,NaN,NaN,NaN,35.8,NaN,NaN,NaN,4.0,46.5,7.4,34.5,NaN
TORRINGTON,2002,NaN,NaN,NaN,37.5,NaN,NaN,NaN,8.0,85.3,9.7,79.0,NaN
TRUMBULL,2002,NaN,NaN,NaN,8.1,NaN,NaN,NaN,1.5,153.9,9.5,57.7,NaN
UNION,2002,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.1,0.8,0.3,1.0,NaN
VERNON,2002,NaN,NaN,NaN,42.8,NaN,NaN,NaN,10.5,99.8,8.1,68.9,NaN
VOLUNTOWN,2002,NaN,NaN,NaN,6.6,NaN,NaN,NaN,1.0,9.5,1.0,16.0,NaN
WALLINGFORD,2002,NaN,NaN,NaN,33.3,NaN,NaN,NaN,7.3,152.9,14.0,99.7,NaN
WATERBURY,2002,NaN,NaN,NaN,45.6,NaN,NaN,NaN,17.6,266.3,25.1,245.0,NaN
WATERFORD,2002,NaN,NaN,NaN,17.0,NaN,NaN,NaN,8.0,96.3,6.9,38.0,NaN
WATERTOWN,2002,NaN,NaN,NaN,21.8,NaN,NaN,NaN,5.0,75.4,9.0,39.5,NaN
WEST HARTFORD,2002,NaN,NaN,NaN,61.9,NaN,NaN,NaN,14.7,202.9,15.5,86.0,NaN
WEST HAVEN,2002,NaN,NaN,NaN,31.8,NaN,NaN,NaN,3.5,162.8,19.0,69.4,NaN
WESTBROOK,2002,NaN,NaN,NaN,10.0,NaN,NaN,NaN,2.0,22.0,2.0,9.8,NaN
WESTON,2002,NaN,NaN,NaN,18.6,NaN,NaN,NaN,9.9,50.0,4.0,35.1,NaN
WESTPORT,2002,NaN,NaN,NaN,60.9,NaN,NaN,NaN,11.0,146.3,8.9,75.7,NaN
WETHERSFIELD,2002,NaN,NaN,NaN,24.5,NaN,NaN,NaN,8.6,81.5,7.3,26.6,NaN
WILLIMANTIC,2002,NaN,NaN,NaN,60.4,NaN,NaN,NaN,7.0,116.0,8.7,70.0,NaN
WILLINGTON,2002,NaN,NaN,NaN,5.0,NaN,NaN,NaN,2.2,17.3,2.0,9.7,NaN
WILTON,2002,NaN,NaN,NaN,22.2,NaN,NaN,NaN,9.5,80.3,5.0,49.0,NaN
WINDSOR,2002,NaN,NaN,NaN,31.7,NaN,NaN,NaN,5.3,89.4,9.0,54.5,NaN
WINDSOR LOCKS,2002,NaN,NaN,NaN,35.3,NaN,NaN,NaN,1.5,66.6,2.0,38.0,NaN
WINSTED,2002,NaN,NaN,NaN,28.0,NaN,NaN,NaN,4.0,30.0,3.0,10.0,NaN
WOLCOTT,2002,NaN,NaN,NaN,10.0,NaN,NaN,NaN,4.3,68.2,6.0,30.8,NaN
WOODBRIDGE,2002,NaN,NaN,NaN,17.5,NaN,NaN,NaN,3.0,16.5,3.5,9.0,NaN
WOODSTOCK,2002,NaN,NaN,NaN,27.0,NaN,NaN,NaN,2.0,21.0,2.0,21.0,NaN

# Wow, let's just forget about 2002. we don't neee it anyway

See table above...

In [28]:
print len(check_empties)
print len(check_empties.dropna(how="any"))
print ("This %d should equal..." % (len(check_empties) - len(check_empties.dropna(how="any"))))

2482
2017
This 465 should equal...

In [29]:
print ("... this: %d" % len(check_empties[check_empties.isnull().any(axis=1)]))

... this: 465

In [30]:
try:
    assert(len(check_empties) - len(check_empties.dropna(how="any")) ==\
                   len(check_empties[check_empties.isnull().any(axis=1)]))
except:
    raise Exception("ERROR! ERROR! These values should match!")

In [31]:
any_empties = check_empties[check_empties.isnull().any(axis=1)]
any_empties["has_nulls"] = True
any_empties["has_nulls"].to_frame().to_csv("output/2_has_nulls.csv")
any_empties["has_nulls"].to_frame()

/Users/jakekara/pandas/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                           has_nulls
City          report_year
ANDOVER       2002              True
              2003              True
              2004              True
              2005              True
              2006              True
              2007              True
              2008              True
              2009              True
              2010              True
              2011              True
              2012              True
              2013              True
              2014              True
              2015              True
              2016              True
              2017              True
              2018              True
ANSONIA       2002              True
ASHFORD       2002              True
              2003              True
              2004              True
              2005              True
              2006              True
              2007              True
              2008              True
              2009              True
              2010              True
              2011              True
              2012              True
              2013              True
...                              ...
WEST HAVEN    2002              True
WESTBROOK     2002              True
WESTON        2002              True
              2006              True
WESTPORT      2002              True
WETHERSFIELD  2002              True
WILLIMANTIC   2002              True
WILLINGTON    2002              True
              2003              True
              2004              True
              2005              True
              2006              True
WILTON        2002              True
WINDSOR       2002              True
WINDSOR LOCKS 2002              True
WINSTED       2002              True
              2004              True
              2005              True
              2006              True
              2007              True
              2009              True
              2010              True
              2011              True
              2012              True
              2013              True
WOLCOTT       2002              True
              2010              True
WOODBRIDGE    2002              True
              2015              True
WOODSTOCK     2002              True

[465 rows x 1 columns]

# How many cities have more than one district?

Only Easton and Deep River. If they come up in our analysis, we'll look closer.

In [32]:
# only easton and deep river
staffing_df.reset_index().groupby("City").agg({"index":pd.Series.nunique}).sort_values(by="index",ascending=False).head()

            index
City
DEEP RIVER      3
EASTON          2
ANDOVER         1
RIDGEFIELD      1
PLAINFIELD      1

# Get totals by city

In [33]:
staffing_df_copy = staffing_df.copy()
def limit_educator_type(assignment):
    return staffing_df_copy[staffing_df.index.map(
        lambda x: x[2] == assignment
    )]

teacher_df = limit_educator_type("General Education - Teachers and Instructors")
teacher_df

                                                                                                      FTE Count  \
report_year index                         Assignment Category                          Educator Type
2003        Andover School District       General Education - Teachers and Instructors Certified           23.6
            Ansonia School District       General Education - Teachers and Instructors Certified          136.8
            Ashford School District       General Education - Teachers and Instructors Certified           37.0
            Avon School District          General Education - Teachers and Instructors Certified          198.5
            Barkhamsted School District   General Education - Teachers and Instructors Certified           20.1
            Berlin School District        General Education - Teachers and Instructors Certified          197.4
            Bethany School District       General Education - Teachers and Instructors Certified           39.8
            Bethel School District        General Education - Teachers and Instructors Certified          214.7
            Bloomfield School District    General Education - Teachers and Instructors Certified          166.0
            Bolton School District        General Education - Teachers and Instructors Certified           73.5
            Bozrah School District        General Education - Teachers and Instructors Certified           19.7
            Branford School District      General Education - Teachers and Instructors Certified          239.8
            Bridgeport School District    General Education - Teachers and Instructors Certified         1243.6
            Bristol School District       General Education - Teachers and Instructors Certified          528.8
            Brookfield School District    General Education - Teachers and Instructors Certified          198.4
            Brooklyn School District      General Education - Teachers and Instructors Certified           61.0
            Canaan School District        General Education - Teachers and Instructors Certified           12.3
            Canterbury School District    General Education - Teachers and Instructors Certified           39.0
            Canton School District        General Education - Teachers and Instructors Certified          101.8
            Chaplin School District       General Education - Teachers and Instructors Certified           20.4
            Cheshire School District      General Education - Teachers and Instructors Certified          294.4
            Chester School District       General Education - Teachers and Instructors Certified           23.9
            Clinton School District       General Education - Teachers and Instructors Certified          148.0
            Colchester School District    General Education - Teachers and Instructors Certified          195.7
            Colebrook School District     General Education - Teachers and Instructors Certified            9.5
            Columbia School District      General Education - Teachers and Instructors Certified           49.8
            Cornwall School District      General Education - Teachers and Instructors Certified           16.5
            Coventry School District      General Education - Teachers and Instructors Certified          129.5
            Cromwell School District      General Education - Teachers and Instructors Certified          126.7
            Danbury School District       General Education - Teachers and Instructors Certified          572.6
...                                                                                                         ...
2016        Stonington School District    General Education - Teachers and Instructors Certified          145.1
            Stratford School District     General Education - Teachers and Instructors Certified          429.3
            Suffield School District      General Education - Teachers and Instructors Certified          169.0
            Thomaston School District     General Education - Teachers and Instructors Certified           59.4
            Thompson School District      General Education - Teachers and Instructors Certified           76.4
            Tolland School District       General Education - Teachers and Instructors Certified          166.5
            Torrington School District    General Education - Teachers and Instructors Certified          295.3
            Trumbull School District      General Education - Teachers and Instructors Certified          406.7
            Union School District         General Education - Teachers and Instructors Certified            6.7
            Vernon School District        General Education - Teachers and Instructors Certified          224.7
            Voluntown School District     General Education - Teachers and Instructors Certified           26.0
            Wallingford School District   General Education - Teachers and Instructors Certified          433.8
            Waterbury School District     General Education - Teachers and Instructors Certified         1162.9
            Waterford School District     General Education - Teachers and Instructors Certified          177.4
            Watertown School District     General Education - Teachers and Instructors Certified          169.1
            West Hartford School District General Education - Teachers and Instructors Certified          667.3
            West Haven School District    General Education - Teachers and Instructors Certified          373.5
            Westbrook School District     General Education - Teachers and Instructors Certified           81.2
            Weston School District        General Education - Teachers and Instructors Certified          163.2
            Westport School District      General Education - Teachers and Instructors Certified          436.6
            Wethersfield School District  General Education - Teachers and Instructors Certified          232.2
            Willington School District    General Education - Teachers and Instructors Certified           37.6
            Wilton School District        General Education - Teachers and Instructors Certified          273.8
            Winchester School District    General Education - Teachers and Instructors Certified           37.0
            Windham School District       General Education - Teachers and Instructors Certified          246.1
            Windsor Locks School District General Education - Teachers and Instructors Certified          136.5
            Windsor School District       General Education - Teachers and Instructors Certified          263.7
            Wolcott School District       General Education - Teachers and Instructors Certified          170.3
            Woodbridge School District    General Education - Teachers and Instructors Certified           58.0
            Woodstock School District     General Education - Teachers and Instructors Certified           53.0

                                                                                                                 City  \
report_year index                         Assignment Category                          Educator Type
2003        Andover School District       General Education - Teachers and Instructors Certified              ANDOVER
            Ansonia School District       General Education - Teachers and Instructors Certified              ANSONIA
            Ashford School District       General Education - Teachers and Instructors Certified              ASHFORD
            Avon School District          General Education - Teachers and Instructors Certified                 AVON
            Barkhamsted School District   General Education - Teachers and Instructors Certified          BARKHAMSTED
            Berlin School District        General Education - Teachers and Instructors Certified               BERLIN
            Bethany School District       General Education - Teachers and Instructors Certified              BETHANY
            Bethel School District        General Education - Teachers and Instructors Certified               BETHEL
            Bloomfield School District    General Education - Teachers and Instructors Certified           BLOOMFIELD
            Bolton School District        General Education - Teachers and Instructors Certified               BOLTON
            Bozrah School District        General Education - Teachers and Instructors Certified               BOZRAH
            Branford School District      General Education - Teachers and Instructors Certified             BRANFORD
            Bridgeport School District    General Education - Teachers and Instructors Certified           BRIDGEPORT
            Bristol School District       General Education - Teachers and Instructors Certified              BRISTOL
            Brookfield School District    General Education - Teachers and Instructors Certified           BROOKFIELD
            Brooklyn School District      General Education - Teachers and Instructors Certified             BROOKLYN
            Canaan School District        General Education - Teachers and Instructors Certified        FALLS VILLAGE
            Canterbury School District    General Education - Teachers and Instructors Certified           CANTERBURY
            Canton School District        General Education - Teachers and Instructors Certified         COLLINSVILLE
            Chaplin School District       General Education - Teachers and Instructors Certified              CHAPLIN
            Cheshire School District      General Education - Teachers and Instructors Certified             CHESHIRE
            Chester School District       General Education - Teachers and Instructors Certified           DEEP RIVER
            Clinton School District       General Education - Teachers and Instructors Certified              CLINTON
            Colchester School District    General Education - Teachers and Instructors Certified           COLCHESTER
            Colebrook School District     General Education - Teachers and Instructors Certified            COLEBROOK
            Columbia School District      General Education - Teachers and Instructors Certified             COLUMBIA
            Cornwall School District      General Education - Teachers and Instructors Certified             CORNWALL
            Coventry School District      General Education - Teachers and Instructors Certified             COVENTRY
            Cromwell School District      General Education - Teachers and Instructors Certified             CROMWELL
            Danbury School District       General Education - Teachers and Instructors Certified              DANBURY
...                                                                                                               ...
2016        Stonington School District    General Education - Teachers and Instructors Certified           OLD MYSTIC
            Stratford School District     General Education - Teachers and Instructors Certified            STRATFORD
            Suffield School District      General Education - Teachers and Instructors Certified             SUFFIELD
            Thomaston School District     General Education - Teachers and Instructors Certified            THOMASTON
            Thompson School District      General Education - Teachers and Instructors Certified      NORTH GROSVENOR
            Tolland School District       General Education - Teachers and Instructors Certified              TOLLAND
            Torrington School District    General Education - Teachers and Instructors Certified           TORRINGTON
            Trumbull School District      General Education - Teachers and Instructors Certified             TRUMBULL
            Union School District         General Education - Teachers and Instructors Certified                UNION
            Vernon School District        General Education - Teachers and Instructors Certified               VERNON
            Voluntown School District     General Education - Teachers and Instructors Certified            VOLUNTOWN
            Wallingford School District   General Education - Teachers and Instructors Certified          WALLINGFORD
            Waterbury School District     General Education - Teachers and Instructors Certified            WATERBURY
            Waterford School District     General Education - Teachers and Instructors Certified            WATERFORD
            Watertown School District     General Education - Teachers and Instructors Certified            WATERTOWN
            West Hartford School District General Education - Teachers and Instructors Certified        WEST HARTFORD
            West Haven School District    General Education - Teachers and Instructors Certified           WEST HAVEN
            Westbrook School District     General Education - Teachers and Instructors Certified            WESTBROOK
            Weston School District        General Education - Teachers and Instructors Certified               WESTON
            Westport School District      General Education - Teachers and Instructors Certified             WESTPORT
            Wethersfield School District  General Education - Teachers and Instructors Certified         WETHERSFIELD
            Willington School District    General Education - Teachers and Instructors Certified           WILLINGTON
            Wilton School District        General Education - Teachers and Instructors Certified               WILTON
            Winchester School District    General Education - Teachers and Instructors Certified              WINSTED
            Windham School District       General Education - Teachers and Instructors Certified          WILLIMANTIC
            Windsor Locks School District General Education - Teachers and Instructors Certified        WINDSOR LOCKS
            Windsor School District       General Education - Teachers and Instructors Certified              WINDSOR
            Wolcott School District       General Education - Teachers and Instructors Certified              WOLCOTT
            Woodbridge School District    General Education - Teachers and Instructors Certified           WOODBRIDGE
            Woodstock School District     General Education - Teachers and Instructors Certified            WOODSTOCK

                                                                                                     OrganizationCode  \
report_year index                         Assignment Category                          Educator Type
2003        Andover School District       General Education - Teachers and Instructors Certified              0010011
            Ansonia School District       General Education - Teachers and Instructors Certified              0020011
            Ashford School District       General Education - Teachers and Instructors Certified              0030011
            Avon School District          General Education - Teachers and Instructors Certified              0040011
            Barkhamsted School District   General Education - Teachers and Instructors Certified              0050011
            Berlin School District        General Education - Teachers and Instructors Certified              0070011
            Bethany School District       General Education - Teachers and Instructors Certified              0080011
            Bethel School District        General Education - Teachers and Instructors Certified              0090011
            Bloomfield School District    General Education - Teachers and Instructors Certified              0110011
            Bolton School District        General Education - Teachers and Instructors Certified              0120011
            Bozrah School District        General Education - Teachers and Instructors Certified              0130011
            Branford School District      General Education - Teachers and Instructors Certified              0140011
            Bridgeport School District    General Education - Teachers and Instructors Certified              0150011
            Bristol School District       General Education - Teachers and Instructors Certified              0170011
            Brookfield School District    General Education - Teachers and Instructors Certified              0180011
            Brooklyn School District      General Education - Teachers and Instructors Certified              0190011
            Canaan School District        General Education - Teachers and Instructors Certified              0210011
            Canterbury School District    General Education - Teachers and Instructors Certified              0220011
            Canton School District        General Education - Teachers and Instructors Certified              0230011
            Chaplin School District       General Education - Teachers and Instructors Certified              0240011
            Cheshire School District      General Education - Teachers and Instructors Certified              0250011
            Chester School District       General Education - Teachers and Instructors Certified              0260011
            Clinton School District       General Education - Teachers and Instructors Certified              0270011
            Colchester School District    General Education - Teachers and Instructors Certified              0280011
            Colebrook School District     General Education - Teachers and Instructors Certified              0290011
            Columbia School District      General Education - Teachers and Instructors Certified              0300011
            Cornwall School District      General Education - Teachers and Instructors Certified              0310011
            Coventry School District      General Education - Teachers and Instructors Certified              0320011
            Cromwell School District      General Education - Teachers and Instructors Certified              0330011
            Danbury School District       General Education - Teachers and Instructors Certified              0340011
...                                                                                                               ...
2016        Stonington School District    General Education - Teachers and Instructors Certified              1370011
            Stratford School District     General Education - Teachers and Instructors Certified              1380011
            Suffield School District      General Education - Teachers and Instructors Certified              1390011
            Thomaston School District     General Education - Teachers and Instructors Certified              1400011
            Thompson School District      General Education - Teachers and Instructors Certified              1410011
            Tolland School District       General Education - Teachers and Instructors Certified              1420011
            Torrington School District    General Education - Teachers and Instructors Certified              1430011
            Trumbull School District      General Education - Teachers and Instructors Certified              1440011
            Union School District         General Education - Teachers and Instructors Certified              1450011
            Vernon School District        General Education - Teachers and Instructors Certified              1460011
            Voluntown School District     General Education - Teachers and Instructors Certified              1470011
            Wallingford School District   General Education - Teachers and Instructors Certified              1480011
            Waterbury School District     General Education - Teachers and Instructors Certified              1510011

In [34]:
counselor_df = limit_educator_type("Counselors  Social Workers  and School Psychologists")
counselor_df

                                                                                                            FTE Count  \
report_year index                         Assignment Category                                Educator Type
2003        Ansonia School District       Counselors  Social Workers  and School Psycholo... Certified            9.0
            Ashford School District       Counselors  Social Workers  and School Psycholo... Certified            1.0
            Avon School District          Counselors  Social Workers  and School Psycholo... Certified           15.2
            Barkhamsted School District   Counselors  Social Workers  and School Psycholo... Certified            1.3
            Berlin School District        Counselors  Social Workers  and School Psycholo... Certified           16.8
            Bethany School District       Counselors  Social Workers  and School Psycholo... Certified            2.4
            Bethel School District        Counselors  Social Workers  and School Psycholo... Certified           18.3
            Bloomfield School District    Counselors  Social Workers  and School Psycholo... Certified           15.6
            Bolton School District        Counselors  Social Workers  and School Psycholo... Certified            5.4
            Bozrah School District        Counselors  Social Workers  and School Psycholo... Certified            0.5
            Branford School District      Counselors  Social Workers  and School Psycholo... Certified           20.3
            Bridgeport School District    Counselors  Social Workers  and School Psycholo... Certified          111.2
            Bristol School District       Counselors  Social Workers  and School Psycholo... Certified           33.3
            Brookfield School District    Counselors  Social Workers  and School Psycholo... Certified           12.7
            Brooklyn School District      Counselors  Social Workers  and School Psycholo... Certified            4.0
            Canaan School District        Counselors  Social Workers  and School Psycholo... Certified            0.5
            Canterbury School District    Counselors  Social Workers  and School Psycholo... Certified            3.0
            Canton School District        Counselors  Social Workers  and School Psycholo... Certified            8.5
            Chaplin School District       Counselors  Social Workers  and School Psycholo... Certified            1.0
            Cheshire School District      Counselors  Social Workers  and School Psycholo... Certified           22.5
            Chester School District       Counselors  Social Workers  and School Psycholo... Certified            1.0
            Clinton School District       Counselors  Social Workers  and School Psycholo... Certified           12.0
            Colchester School District    Counselors  Social Workers  and School Psycholo... Certified           13.4
            Colebrook School District     Counselors  Social Workers  and School Psycholo... Certified            0.4
            Columbia School District      Counselors  Social Workers  and School Psycholo... Certified            3.0
            Cornwall School District      Counselors  Social Workers  and School Psycholo... Certified            0.5
            Coventry School District      Counselors  Social Workers  and School Psycholo... Certified           10.6
            Cromwell School District      Counselors  Social Workers  and School Psycholo... Certified            7.0
            Danbury School District       Counselors  Social Workers  and School Psycholo... Certified           49.6
            Darien School District        Counselors  Social Workers  and School Psycholo... Certified           20.6
...                                                                                                               ...
2016        Sterling School District      Counselors  Social Workers  and School Psycholo... Certified            1.0
            Stonington School District    Counselors  Social Workers  and School Psycholo... Certified           15.6
            Stratford School District     Counselors  Social Workers  and School Psycholo... Certified           42.5
            Suffield School District      Counselors  Social Workers  and School Psycholo... Certified           11.0
            Thomaston School District     Counselors  Social Workers  and School Psycholo... Certified            4.6
            Thompson School District      Counselors  Social Workers  and School Psycholo... Certified            6.0
            Tolland School District       Counselors  Social Workers  and School Psycholo... Certified           11.0
            Torrington School District    Counselors  Social Workers  and School Psycholo... Certified           28.0
            Trumbull School District      Counselors  Social Workers  and School Psycholo... Certified           50.7
            Vernon School District        Counselors  Social Workers  and School Psycholo... Certified           23.4
            Voluntown School District     Counselors  Social Workers  and School Psycholo... Certified            1.0
            Wallingford School District   Counselors  Social Workers  and School Psycholo... Certified           43.3
            Waterbury School District     Counselors  Social Workers  and School Psycholo... Certified          103.1
            Waterford School District     Counselors  Social Workers  and School Psycholo... Certified           17.8
            Watertown School District     Counselors  Social Workers  and School Psycholo... Certified           15.8
            West Hartford School District Counselors  Social Workers  and School Psycholo... Certified           60.1
            West Haven School District    Counselors  Social Workers  and School Psycholo... Certified           33.5
            Westbrook School District     Counselors  Social Workers  and School Psycholo... Certified            6.8
            Weston School District        Counselors  Social Workers  and School Psycholo... Certified           16.0
            Westport School District      Counselors  Social Workers  and School Psycholo... Certified           38.0
            Wethersfield School District  Counselors  Social Workers  and School Psycholo... Certified           21.5
            Willington School District    Counselors  Social Workers  and School Psycholo... Certified            2.0
            Wilton School District        Counselors  Social Workers  and School Psycholo... Certified           28.1
            Winchester School District    Counselors  Social Workers  and School Psycholo... Certified            5.0
            Windham School District       Counselors  Social Workers  and School Psycholo... Certified           21.5
            Windsor Locks School District Counselors  Social Workers  and School Psycholo... Certified           14.0
            Windsor School District       Counselors  Social Workers  and School Psycholo... Certified           27.3
            Wolcott School District       Counselors  Social Workers  and School Psycholo... Certified           14.8
            Woodbridge School District    Counselors  Social Workers  and School Psycholo... Certified            2.5
            Woodstock School District     Counselors  Social Workers  and School Psycholo... Certified            3.4

                                                                                                                       City  \
report_year index                         Assignment Category                                Educator Type
2003        Ansonia School District       Counselors  Social Workers  and School Psycholo... Certified              ANSONIA
            Ashford School District       Counselors  Social Workers  and School Psycholo... Certified              ASHFORD
            Avon School District          Counselors  Social Workers  and School Psycholo... Certified                 AVON
            Barkhamsted School District   Counselors  Social Workers  and School Psycholo... Certified          BARKHAMSTED
            Berlin School District        Counselors  Social Workers  and School Psycholo... Certified               BERLIN
            Bethany School District       Counselors  Social Workers  and School Psycholo... Certified              BETHANY
            Bethel School District        Counselors  Social Workers  and School Psycholo... Certified               BETHEL
            Bloomfield School District    Counselors  Social Workers  and School Psycholo... Certified           BLOOMFIELD
            Bolton School District        Counselors  Social Workers  and School Psycholo... Certified               BOLTON
            Bozrah School District        Counselors  Social Workers  and School Psycholo... Certified               BOZRAH
            Branford School District      Counselors  Social Workers  and School Psycholo... Certified             BRANFORD
            Bridgeport School District    Counselors  Social Workers  and School Psycholo... Certified           BRIDGEPORT
            Bristol School District       Counselors  Social Workers  and School Psycholo... Certified              BRISTOL
            Brookfield School District    Counselors  Social Workers  and School Psycholo... Certified           BROOKFIELD
            Brooklyn School District      Counselors  Social Workers  and School Psycholo... Certified             BROOKLYN
            Canaan School District        Counselors  Social Workers  and School Psycholo... Certified        FALLS VILLAGE
            Canterbury School District    Counselors  Social Workers  and School Psycholo... Certified           CANTERBURY
            Canton School District        Counselors  Social Workers  and School Psycholo... Certified         COLLINSVILLE
            Chaplin School District       Counselors  Social Workers  and School Psycholo... Certified              CHAPLIN
            Cheshire School District      Counselors  Social Workers  and School Psycholo... Certified             CHESHIRE
            Chester School District       Counselors  Social Workers  and School Psycholo... Certified           DEEP RIVER
            Clinton School District       Counselors  Social Workers  and School Psycholo... Certified              CLINTON
            Colchester School District    Counselors  Social Workers  and School Psycholo... Certified           COLCHESTER
            Colebrook School District     Counselors  Social Workers  and School Psycholo... Certified            COLEBROOK
            Columbia School District      Counselors  Social Workers  and School Psycholo... Certified             COLUMBIA
            Cornwall School District      Counselors  Social Workers  and School Psycholo... Certified             CORNWALL
            Coventry School District      Counselors  Social Workers  and School Psycholo... Certified             COVENTRY
            Cromwell School District      Counselors  Social Workers  and School Psycholo... Certified             CROMWELL
            Danbury School District       Counselors  Social Workers  and School Psycholo... Certified              DANBURY
            Darien School District        Counselors  Social Workers  and School Psycholo... Certified               DARIEN
...                                                                                                                     ...
2016        Sterling School District      Counselors  Social Workers  and School Psycholo... Certified             STERLING
            Stonington School District    Counselors  Social Workers  and School Psycholo... Certified           OLD MYSTIC
            Stratford School District     Counselors  Social Workers  and School Psycholo... Certified            STRATFORD
            Suffield School District      Counselors  Social Workers  and School Psycholo... Certified             SUFFIELD
            Thomaston School District     Counselors  Social Workers  and School Psycholo... Certified            THOMASTON
            Thompson School District      Counselors  Social Workers  and School Psycholo... Certified      NORTH GROSVENOR
            Tolland School District       Counselors  Social Workers  and School Psycholo... Certified              TOLLAND
            Torrington School District    Counselors  Social Workers  and School Psycholo... Certified           TORRINGTON
            Trumbull School District      Counselors  Social Workers  and School Psycholo... Certified             TRUMBULL
            Vernon School District        Counselors  Social Workers  and School Psycholo... Certified               VERNON
            Voluntown School District     Counselors  Social Workers  and School Psycholo... Certified            VOLUNTOWN
            Wallingford School District   Counselors  Social Workers  and School Psycholo... Certified          WALLINGFORD
            Waterbury School District     Counselors  Social Workers  and School Psycholo... Certified            WATERBURY
            Waterford School District     Counselors  Social Workers  and School Psycholo... Certified            WATERFORD
            Watertown School District     Counselors  Social Workers  and School Psycholo... Certified            WATERTOWN
            West Hartford School District Counselors  Social Workers  and School Psycholo... Certified        WEST HARTFORD
            West Haven School District    Counselors  Social Workers  and School Psycholo... Certified           WEST HAVEN
            Westbrook School District     Counselors  Social Workers  and School Psycholo... Certified            WESTBROOK
            Weston School District        Counselors  Social Workers  and School Psycholo... Certified               WESTON
            Westport School District      Counselors  Social Workers  and School Psycholo... Certified             WESTPORT
            Wethersfield School District  Counselors  Social Workers  and School Psycholo... Certified         WETHERSFIELD
            Willington School District    Counselors  Social Workers  and School Psycholo... Certified           WILLINGTON
            Wilton School District        Counselors  Social Workers  and School Psycholo... Certified               WILTON
            Winchester School District    Counselors  Social Workers  and School Psycholo... Certified              WINSTED
            Windham School District       Counselors  Social Workers  and School Psycholo... Certified          WILLIMANTIC
            Windsor Locks School District Counselors  Social Workers  and School Psycholo... Certified        WINDSOR LOCKS
            Windsor School District       Counselors  Social Workers  and School Psycholo... Certified              WINDSOR
            Wolcott School District       Counselors  Social Workers  and School Psycholo... Certified              WOLCOTT
            Woodbridge School District    Counselors  Social Workers  and School Psycholo... Certified           WOODBRIDGE
            Woodstock School District     Counselors  Social Workers  and School Psycholo... Certified            WOODSTOCK

                                                                                                           OrganizationCode  \
report_year index                         Assignment Category                                Educator Type
2003        Ansonia School District       Counselors  Social Workers  and School Psycholo... Certified              0020011
            Ashford School District       Counselors  Social Workers  and School Psycholo... Certified              0030011
            Avon School District          Counselors  Social Workers  and School Psycholo... Certified              0040011
            Barkhamsted School District   Counselors  Social Workers  and School Psycholo... Certified              0050011
            Berlin School District        Counselors  Social Workers  and School Psycholo... Certified              0070011
            Bethany School District       Counselors  Social Workers  and School Psycholo... Certified              0080011
            Bethel School District        Counselors  Social Workers  and School Psycholo... Certified              0090011
            Bloomfield School District    Counselors  Social Workers  and School Psycholo... Certified              0110011
            Bolton School District        Counselors  Social Workers  and School Psycholo... Certified              0120011
            Bozrah School District        Counselors  Social Workers  and School Psycholo... Certified              0130011
            Branford School District      Counselors  Social Workers  and School Psycholo... Certified              0140011
            Bridgeport School District    Counselors  Social Workers  and School Psycholo... Certified              0150011
            Bristol School District       Counselors  Social Workers  and School Psycholo... Certified              0170011
            Brookfield School District    Counselors  Social Workers  and School Psycholo... Certified              0180011
            Brooklyn School District      Counselors  Social Workers  and School Psycholo... Certified              0190011
            Canaan School District        Counselors  Social Workers  and School Psycholo... Certified              0210011
            Canterbury School District    Counselors  Social Workers  and School Psycholo... Certified              0220011
            Canton School District        Counselors  Social Workers  and School Psycholo... Certified              0230011
            Chaplin School District       Counselors  Social Workers  and School Psycholo... Certified              0240011
            Cheshire School District      Counselors  Social Workers  and School Psycholo... Certified              0250011
            Chester School District       Counselors  Social Workers  and School Psycholo... Certified              0260011
            Clinton School District       Counselors  Social Workers  and School Psycholo... Certified              0270011
            Colchester School District    Counselors  Social Workers  and School Psycholo... Certified              0280011
            Colebrook School District     Counselors  Social Workers  and School Psycholo... Certified              0290011
            Columbia School District      Counselors  Social Workers  and School Psycholo... Certified              0300011
            Cornwall School District      Counselors  Social Workers  and School Psycholo... Certified              0310011
            Coventry School District      Counselors  Social Workers  and School Psycholo... Certified              0320011
            Cromwell School District      Counselors  Social Workers  and School Psycholo... Certified              0330011
            Danbury School District       Counselors  Social Workers  and School Psycholo... Certified              0340011
            Darien School District        Counselors  Social Workers  and School Psycholo... Certified              0350011
...                                                                                                                     ...
2016        Sterling School District      Counselors  Social Workers  and School Psycholo... Certified              1360011
            Stonington School District    Counselors  Social Workers  and School Psycholo... Certified              1370011
            Stratford School District     Counselors  Social Workers  and School Psycholo... Certified              1380011
            Suffield School District      Counselors  Social Workers  and School Psycholo... Certified              1390011
            Thomaston School District     Counselors  Social Workers  and School Psycholo... Certified              1400011

In [35]:
staffing_df.index.map(lambda x: x[2]).value_counts()

Other Staff Providing Non-Instructional Services/Support                        2511
Special Education - Paraprofessional Instructional Assistants                   2510
General Education - Paraprofessional Instructional Assistants                   2510
School Nurses                                                                   2510
Library/Media - Support Staff                                                   2510
General Education - Teachers and Instructors                                    2384
Special Education - Teachers and Instructors                                    2376
Administrators  Coordinators and Department Chairs - School Level               2374
Administrators  Coordinators and Department Chairs - District Central Office    2337
Counselors  Social Workers  and School Psychologists                            2332
Instructional Specialists Who Support Teachers                                  2322
Library/Media - Specialists (Certified)                                         2152
dtype: int64

## Get and combine totals

In [36]:
staffing_df = staffing_df.groupby(["City","report_year"]).agg({"FTE Count":sum})
staffing_df.head()

                     FTE Count
City    report_year
ANDOVER 2002              30.3
        2003              62.2
        2004              62.2
        2005              60.6
        2006              59.6

In [37]:
counselor_df = counselor_df.groupby(["City","report_year"]).agg({"FTE Count":sum})
counselor_df.columns = ["Counselor FTE Count"]
counselor_df.head()

                     Counselor FTE Count
City    report_year
ANSONIA 2003                         9.0
        2004                        12.0
        2005                        12.0
        2006                        12.0
        2007                        12.0

In [38]:
teacher_df = teacher_df.groupby(["City","report_year"]).agg({"FTE Count":sum})
teacher_df.columns = ["Teacher FTE Count"]
teacher_df.head()

                     Teacher FTE Count
City    report_year
ANDOVER 2003                      23.6
        2004                      23.8
        2005                      25.8
        2006                      24.8
        2007                      23.8

In [39]:
staffing_df = staffing_df.join(teacher_df).join(counselor_df)

In [40]:
# staffing_df = staffing_df.groupby(["City","report_year"]).agg({"FTE Count":sum})
# staffing_df.head()

In [41]:
any_empties

Assignment Category        Administrators  Coordinators and Department Chairs - District Central Office  \
City          report_year
ANDOVER       2002                                                       NaN
              2003                                                       0.6
              2004                                                       0.6
              2005                                                       0.3
              2006                                                       0.3
              2007                                                       0.3
              2008                                                       0.3
              2009                                                       0.3
              2010                                                       0.3
              2011                                                       0.3
              2012                                                       0.6
              2013                                                       0.6
              2014                                                       0.6
              2015                                                       0.6
              2016                                                       2.6
              2017                                                       2.6
              2018                                                       2.1
ANSONIA       2002                                                       NaN
ASHFORD       2002                                                       NaN
              2003                                                       0.8
              2004                                                       0.8
              2005                                                       NaN
              2006                                                       1.0
              2007                                                       1.0
              2008                                                       NaN
              2009                                                       NaN
              2010                                                       NaN
              2011                                                       NaN
              2012                                                       NaN
              2013                                                       NaN
...                                                                      ...
WEST HAVEN    2002                                                       NaN
WESTBROOK     2002                                                       NaN
WESTON        2002                                                       NaN
              2006                                                       3.0
WESTPORT      2002                                                       NaN
WETHERSFIELD  2002                                                       NaN
WILLIMANTIC   2002                                                       NaN
WILLINGTON    2002                                                       NaN
              2003                                                       2.0
              2004                                                       2.0
              2005                                                       2.0
              2006                                                       2.0
WILTON        2002                                                       NaN
WINDSOR       2002                                                       NaN
WINDSOR LOCKS 2002                                                       NaN
WINSTED       2002                                                       NaN
              2004                                                       2.0
              2005                                                       3.1
              2006                                                       1.0
              2007                                                       1.0
              2009                                                       2.5
              2010                                                       3.5
              2011                                                       2.3
              2012                                                       2.5
              2013                                                       2.0
WOLCOTT       2002                                                       NaN
              2010                                                       5.0
WOODBRIDGE    2002                                                       NaN
              2015                                                       5.0
WOODSTOCK     2002                                                       NaN

Assignment Category        Administrators  Coordinators and Department Chairs - School Level  \
City          report_year
ANDOVER       2002                                                       NaN
              2003                                                       1.4
              2004                                                       1.4
              2005                                                       2.0
              2006                                                       2.0
              2007                                                       2.0
              2008                                                       2.0
              2009                                                       2.0
              2010                                                       2.0
              2011                                                       2.0
              2012                                                       2.0
              2013                                                       2.0
              2014                                                       2.0
              2015                                                       2.0
              2016                                                       NaN
              2017                                                       NaN
              2018                                                       0.5
ANSONIA       2002                                                       NaN
ASHFORD       2002                                                       NaN
              2003                                                       2.0
              2004                                                       2.0
              2005                                                       2.0
              2006                                                       2.0
              2007                                                       2.0
              2008                                                       3.0
              2009                                                       3.0
              2010                                                       2.5
              2011                                                       2.5
              2012                                                       2.5
              2013                                                       2.5
...                                                                      ...
WEST HAVEN    2002                                                       NaN
WESTBROOK     2002                                                       NaN
WESTON        2002                                                       NaN
              2006                                                      15.5
WESTPORT      2002                                                       NaN
WETHERSFIELD  2002                                                       NaN
WILLIMANTIC   2002                                                       NaN
WILLINGTON    2002                                                       NaN
              2003                                                       2.0
              2004                                                       2.0
              2005                                                       2.0
              2006                                                       2.0
WILTON        2002                                                       NaN
WINDSOR       2002                                                       NaN
WINDSOR LOCKS 2002                                                       NaN
WINSTED       2002                                                       NaN
              2004                                                       4.5
              2005                                                       4.5
              2006                                                       3.5
              2007                                                       4.5
              2009                                                       4.0
              2010                                                       3.0
              2011                                                       2.2
              2012                                                       2.0
              2013                                                       2.0
WOLCOTT       2002                                                       NaN
              2010                                                       9.3
WOODBRIDGE    2002                                                       NaN
              2015                                                       2.0
WOODSTOCK     2002                                                       NaN

Assignment Category        Counselors  Social Workers  and School Psychologists  \
City          report_year
ANDOVER       2002                                                       NaN
              2003                                                       NaN
              2004                                                       NaN
              2005                                                       NaN
              2006                                                       NaN
              2007                                                       NaN
              2008                                                       NaN
              2009                                                       NaN
              2010                                                       NaN
              2011                                                       NaN
              2012                                                       NaN
              2013                                                       NaN
              2014                                                       NaN
              2015                                                       NaN
              2016                                                       NaN
              2017                                                       NaN
              2018                                                       NaN
ANSONIA       2002                                                       NaN
ASHFORD       2002                                                       NaN
              2003                                                       1.0
              2004                                                       1.6
              2005                                                       1.6
              2006                                                       1.6
              2007                                                       1.6
              2008                                                       1.6
              2009                                                       1.6
              2010                                                       1.6
              2011                                                       2.0
              2012                                                       2.0
              2013                                                       2.0
...                                                                      ...
WEST HAVEN    2002                                                       NaN
WESTBROOK     2002                                                       NaN
WESTON        2002                                                       NaN
              2006                                                      15.8
WESTPORT      2002                                                       NaN
WETHERSFIELD  2002                                                       NaN
WILLIMANTIC   2002                                                       NaN
WILLINGTON    2002                                                       NaN
              2003                                                       1.6
              2004                                                       1.5
              2005                                                       2.0
              2006                                                       2.0
WILTON        2002                                                       NaN
WINDSOR       2002                                                       NaN
WINDSOR LOCKS 2002                                                       NaN
WINSTED       2002                                                       NaN
              2004                                                       7.0
              2005                                                       5.6
              2006                                                       4.8
              2007                                                       5.4
              2009                                                       7.0
              2010                                                       7.0
              2011                                                       6.0
              2012                                                       5.0
              2013                                                       5.0
WOLCOTT       2002                                                       NaN
              2010                                                      11.9
WOODBRIDGE    2002                                                       NaN
              2015                                                       2.5
WOODSTOCK     2002                                                       NaN

Assignment Category        General Education - Paraprofessional Instructional Assistants  \
City          report_year
ANDOVER       2002                                                       4.1
              2003                                                       6.3
              2004                                                       7.5
              2005                                                       3.2
              2006                                                       2.7
              2007                                                       2.9
              2008                                                       3.0
              2009                                                       4.5
              2010                                                       2.0
              2011                                                       2.5
              2012                                                       0.5
              2013                                                       3.5
              2014                                                       3.0
              2015                                                       2.0
              2016                                                       1.0
              2017                                                       3.0
              2018                                                       3.0
ANSONIA       2002                                                      23.1
ASHFORD       2002                                                       3.0
              2003                                                       2.0
              2004                                                       4.0
              2005                                                       2.0
              2006                                                       4.0
              2007                                                       5.0
              2008                                                       6.0
              2009                                                       6.5
              2010                                                       6.5
              2011                                                       8.0
              2012                                                       6.5
              2013                                                       9.0
...                                                                      ...
WEST HAVEN    2002                                                      31.8
WESTBROOK     2002                                                      10.0
WESTON        2002                                                      18.6
              2006                                                       NaN
WESTPORT      2002                                                      60.9
WETHERSFIELD  2002                                                      24.5
WILLIMANTIC   2002                                                      60.4
WILLINGTON    2002                                                       5.0
              2003                                                       5.0
              2004                                                       5.0
              2005                                                       5.0
              2006                                                       5.0
WILTON        2002                                                      22.2
WINDSOR       2002                                                      31.7
WINDSOR LOCKS 2002                                                      35.3
WINSTED       2002                                                      28.0
              2004                                                      12.0
              2005                                                       6.7
              2006                                                       NaN
              2007                                                       5.0
              2009                                                      15.8
              2010                                                      20.0
              2011                                                      11.0
              2012                                                      11.0
              2013                                                       3.0
WOLCOTT       2002                                                      10.0
              2010                                                      12.2
WOODBRIDGE    2002                                                      17.5
              2015                                                       NaN
WOODSTOCK     2002                                                      27.0

Assignment Category        General Education - Teachers and Instructors  \
City          report_year
ANDOVER       2002                                                  NaN
              2003                                                 23.6
              2004                                                 23.8
              2005                                                 25.8
              2006                                                 24.8
              2007                                                 23.8
              2008                                                 25.3
              2009                                                 25.3

In [57]:
staffing_df.loc["WINDHAM"]

KeyError: u'the label [WINDHAM] is not in the [index]'

# Add asterisks column

In [43]:
staffing_df = staffing_df.join(any_empties[["has_nulls"]])#.to_frame())
#staffing_df.join(any_empties[["has_nulls"]])#.to_frame())

In [44]:
staffing_df["has_nulls"] = staffing_df["has_nulls"].fillna("False")
staffing_df

                        FTE Count  Teacher FTE Count  Counselor FTE Count  \
City       report_year
ANDOVER    2002              30.3                NaN                  NaN
           2003              62.2               23.6                  NaN
           2004              62.2               23.8                  NaN
           2005              60.6               25.8                  NaN
           2006              59.6               24.8                  NaN
           2007              60.9               23.8                  NaN
           2008              58.0               25.3                  NaN
           2009              59.4               25.3                  NaN
           2010              60.0               26.3                  NaN
           2011              59.7               26.3                  NaN
           2012              57.6               25.2                  NaN
           2013              56.6               24.7                  NaN
           2014              56.6               24.7                  NaN
           2015              52.1               19.7                  NaN
           2016              54.3               22.8                  NaN
           2017              45.3               17.8                  NaN
           2018              46.3               19.8                  NaN
ANSONIA    2002             112.1                NaN                  NaN
           2003             314.2              136.8                  9.0
           2004             346.9              141.5                 12.0
           2005             363.1              150.7                 12.0
           2006             368.7              146.0                 12.0
           2007             489.8              147.0                 12.0
           2008             391.9              148.0                 12.0
           2009             404.5              152.0                 13.6
           2010             373.2              143.8                 13.6
           2011             399.6              147.0                 13.6
           2012             389.6              142.0                 13.6
           2013             376.7              139.6                 13.6
           2014             391.7              145.0                 13.0
...                           ...                ...                  ...
WOODBRIDGE 2006             137.7               58.5                  3.5
           2007             134.3               58.5                  2.5
           2008             139.2               59.5                  2.5
           2009             139.2               57.5                  2.5
           2010             136.2               56.5                  2.5
           2011             130.2               56.5                  2.5
           2012             130.7               58.0                  2.5
           2013             127.2               58.0                  2.5
           2014             128.2               59.0                  2.5
           2015              81.5               61.0                  2.5
           2016             131.6               58.0                  2.5
           2017             133.1               59.5                  2.5
           2018             131.6               60.0                  2.5
WOODSTOCK  2002              73.0                NaN                  NaN
           2003             163.7               60.0                  2.4
           2004             162.9               60.0                  3.4
           2005             152.7               58.0                  3.4
           2006             158.7               60.0                  3.4
           2007             154.2               57.0                  3.4
           2008             170.7               59.0                  3.4
           2009             169.1               56.0                  3.4
           2010             168.0               57.0                  3.4
           2011             164.1               56.0                  2.4
           2012             162.1               53.0                  2.4
           2013             166.2               59.0                  3.4
           2014             162.8               57.0                  3.4
           2015             154.8               56.0                  3.4
           2016             153.8               53.0                  3.4
           2017             153.1               52.0                  3.0
           2018             151.4               51.5                  3.3

                       has_nulls
City       report_year
ANDOVER    2002             True
           2003             True
           2004             True
           2005             True
           2006             True
           2007             True
           2008             True
           2009             True
           2010             True
           2011             True
           2012             True
           2013             True
           2014             True
           2015             True
           2016             True
           2017             True
           2018             True
ANSONIA    2002             True
           2003            False
           2004            False
           2005            False
           2006            False
           2007            False
           2008            False
           2009            False
           2010            False
           2011            False
           2012            False
           2013            False
           2014            False
...                          ...
WOODBRIDGE 2006            False
           2007            False
           2008            False
           2009            False
           2010            False
           2011            False
           2012            False
           2013            False
           2014            False
           2015             True
           2016            False
           2017            False
           2018            False
WOODSTOCK  2002             True
           2003            False
           2004            False
           2005            False
           2006            False
           2007            False
           2008            False
           2009            False
           2010            False
           2011            False
           2012            False
           2013            False
           2014            False
           2015            False
           2016            False
           2017            False
           2018            False

[2482 rows x 4 columns]

In [45]:
staffing_df.to_csv("output/2_staffing.csv")

In [46]:
staffing_df[staffing_df["has_nulls"] == True].reset_index()["report_year"].value_counts()

2002    146
2017     28
2016     28
2018     25
2012     21
2015     21
2005     21
2013     20
2006     19
2014     18
2004     18
2003     18
2010     18
2007     17
2011     16
2008     16
2009     15
Name: report_year, dtype: int64

In [47]:
staffing_df = staffing_df[staffing_df.index.map(lambda x: x[1] > 2004)]

In [48]:
staffing_df[staffing_df["has_nulls"] == True].reset_index()["report_year"].value_counts().to_frame().sort_index()

      report_year
2005           21
2006           19
2007           17
2008           16
2009           15
2010           18
2011           16
2012           21
2013           20
2014           18
2015           21
2016           28
2017           28
2018           25

In [49]:
staffing_df[staffing_df["has_nulls"] == True].reset_index()["City"].value_counts()

CHAPLIN            14
CANTERBURY         14
NORTH FRANKLIN     14
BOZRAH             14
ANDOVER            14
ASHFORD            14
BALTIC             14
COLEBROOK          14
UNION              14
BETHANY            12
EASTFORD           11
SCOTLAND           11
CORNWALL            9
VOLUNTOWN           8
WINSTED             8
CANAAN              7
LISBON              7
POMFRET CENTER      6
HAMPTON             6
EAST HARTLAND       5
BARKHAMSTED         5
STERLING            5
LAKEVILLE           5
DERBY               4
NORFOLK             4
FALLS VILLAGE       4
NORWALK             3
SHARON              3
TERRYVILLE          3
EAST WINDSOR        3
NEW LONDON          3
PRESTON             3
BROOKLYN            2
HEBRON              2
KENT                2
WILLINGTON          2
SALEM               2
EASTON              2
BOLTON              1
WESTON              1
SOMERS              1
MARLBOROUGH         1
WOODBRIDGE          1
BRANFORD            1
COVENTRY            1
WOLCOTT             1
NORTH GROSVENOR     1
BLOOMFIELD          1
Name: City, dtype: int64

In [55]:
staffing_df.reset_index()["City"].unique()

array(['ANDOVER', 'ANSONIA', 'ASHFORD', 'AVON', 'BALTIC', 'BARKHAMSTED',
       'BERLIN', 'BETHANY', 'BETHEL', 'BLOOMFIELD', 'BOLTON', 'BOZRAH',
       'BRANFORD', 'BRIDGEPORT', 'BRISTOL', 'BROOKFIELD', 'BROOKLYN',
       'CANAAN', 'CANTERBURY', 'CHAPLIN', 'CHESHIRE', 'CLINTON',
       'COLCHESTER', 'COLEBROOK', 'COLLINSVILLE', 'COLUMBIA', 'CORNWALL',
       'COVENTRY', 'CROMWELL', 'DANBURY', 'DANIELSON', 'DARIEN',
       'DEEP RIVER', 'DERBY', 'EAST GRANBY', 'EAST HAMPTON',
       'EAST HARTFORD', 'EAST HARTLAND', 'EAST HAVEN', 'EAST LYME',
       'EAST WINDSOR', 'EASTFORD', 'EASTON', 'ELLINGTON', 'ENFIELD',
       'FAIRFIELD', 'FALLS VILLAGE', 'FARMINGTON', 'GLASTONBURY',
       'GRANBY', 'GREENWICH', 'GRISWOLD', 'GUILFORD', 'HAMDEN', 'HAMPTON',
       'HARTFORD', 'HEBRON', 'KENT', 'LAKEVILLE', 'LEBANON', 'LEDYARD',
       'LISBON', 'LITCHFIELD', 'MADISON', 'MANCHESTER', 'MARLBOROUGH',
       'MERIDEN', 'MIDDLETOWN', 'MILFORD', 'MONROE', 'MOODUS', 'MYSTIC',
       'NAUGATUCK', 'NEW BRITAIN', 'NEW CANAAN', 'NEW FAIRFIELD',
       'NEW HARTFORD', 'NEW HAVEN', 'NEW LONDON', 'NEW MILFORD',
       'NEWINGTON', 'NEWTOWN', 'NORFOLK', 'NORTH FRANKLIN',
       'NORTH GROSVENOR', 'NORTH HAVEN', 'NORTH STONINGTON', 'NORTHFORD',
       'NORWALK', 'NORWICH', 'OAKDALE', 'OLD MYSTIC', 'OLD SAYBROOK',
       'ORANGE', 'OXFORD', 'PLAINFIELD', 'PLAINVILLE', 'POMFRET CENTER',
       'PORTLAND', 'PRESTON', 'PUTNAM', 'RIDGEFIELD', 'ROCKY HILL',
       'SALEM', 'SCOTLAND', 'SEYMOUR', 'SHARON', 'SHELTON', 'SHERMAN',
       'SIMSBURY', 'SOMERS', 'SOUTH WINDSOR', 'SOUTHINGTON',
       'STAFFORD SPRINGS', 'STAMFORD', 'STERLING', 'STORRS', 'STRATFORD',
       'SUFFIELD', 'TERRYVILLE', 'THOMASTON', 'TOLLAND', 'TORRINGTON',
       'TRUMBULL', 'UNION', 'VERNON', 'VOLUNTOWN', 'WALLINGFORD',
       'WATERBURY', 'WATERFORD', 'WATERTOWN', 'WEST HARTFORD',
       'WEST HAVEN', 'WESTBROOK', 'WESTON', 'WESTPORT', 'WETHERSFIELD',
       'WILLIMANTIC', 'WILLINGTON', 'WILTON', 'WINDSOR', 'WINDSOR LOCKS',
       'WINSTED', 'WOLCOTT', 'WOODBRIDGE', 'WOODSTOCK'], dtype=object)